<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" media="screen" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <script type="text/javascript" src="/javascripts/thirdparty/lodash.min.js"></script>
    <script type="text/javascript">
        var userName = '<%=userName%>';
        var loginType = '<%=loginType%>';
        var roleId = '<%=roleId%>';
        var roleName = '<%=roleName%>';
        var roleType = '<%=roleType%>';
        var cpKey = '<%=cpKey%>';
        var cpId = '<%=cpId%>';
    </script>
  </head>

  <body>
    <div id="app"></div>
    <script type="text/javascript" src="/javascripts/local/index.js"></script>
  </body>
</html>
